---
# Dependabot configuration
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  # GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    commit-message:
      prefix: "ci(deps): "
    schedule:
      interval: weekly
      day: friday
      time: "00:00"
      timezone: UTC
    open-pull-requests-limit: 10
